<html>
<head>
    <title> FabHotels | Assignment </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div data-ng-app="app" data-ng-controller="HomeController" data-ng-init="init()">
    <h3 align="center"><span class="text-success"><b>FabHotels | Assignment </b></span></h3>
    <!-- Body  -->
    <div class="row">
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-10 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-1 col-md-1"></div>
                        <div class="col-xs-3 col-md-3 pull-left" style="margin-top:14px;">
                            <select class="form-control" data-ng-model="methodName" data-ng-change="change(methodName)">
                                <option value="" disabled selected>Choose Method To Execute</option>
                                <option value="BUB">Bubble Sort</option>
                                <option value="INS">Insertion Sort</option>
                                <option value="SEL">Selection Sort</option>
                                <option value="CUS1">Custom Method1</option>
                                <option value="CUS2">Custom Method2</option>
                            </select>
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <h3 align="center"><span class="text-info"><b>DashBoard </b></span></h3>
                        </div>
                        <div class="col-xs-4 col-md-4" style="margin-top:12px;">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" id="search" class="form-control" ng-model="searchText"  placeholder="Search" />
                            </div>
                        </div>
                        <div class="col-xs-1 col-md-1"></div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-xs-1 col-md-1"></div>
                            <div class="col-xs-10 col-md-10">
                                <div class="table-scrollable">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Seq No</th>
                                            <th>
                                                <a href="#"
                                                   ng-click="sortBy = 'methodName'; sortReverse = !sortReverse">
                                                    Executing Method Name
                                                    <span ng-show="sortBy == 'methodName' && !sortReverse"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortBy == 'methodName' && sortReverse"
                                                          class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th>
                                                <a href="#"
                                                   ng-click="sortBy = 'executionTime'; sortReverse = !sortReverse">
                                                    Method Execution Time
                                                    <span ng-show="sortBy == 'executionTime' && !sortReverse"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortBy == 'executionTime' && sortReverse"
                                                          class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="metrics in metricsList | filter:searchText | orderBy: sortBy : sortReverse ">
                                            <td>{{$index}}</td>
                                            <td>{{metrics.methodName | uppercase}}</td>
                                            <td>{{metrics.executionTime}} miliseconds</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-1 col-md-1"></div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-md-1"></div>
    </div>
    <!-- Body -->
</div>
<script>
var app = angular.module('app',[]);

app.controller('HomeController', function($scope,$http) {

    $scope.sortBy     = 'index';                                                   // set the default sort by
    $scope.sortReverse  = false;

    $scope.init = function(){
        $http.get('/api/generic/metrics/records').then(function(response){
              $scope.metricsList = response.data;
        },function(error){
            console.log(" Metrics List Error" +error.data);
        });
    };

    $scope.change = function(type){
        $scope.method = type;
        $http.get('/api/generic/metrics/'+$scope.method).then(function(response){
            $http.get('/api/generic/metrics/records').then(function(response){
                  $scope.metricsList = response.data;
            },function(error){
                   console.log(" Metrics List Error" +error.data);
            });
        },function(error){
                console.log(" Metrics Error" +error.data);
        });
    };

});

</script>

</body>
</html>
